<div id="usersContainer">
    <div id="usersCard" class="card">
        <h5 class="card-text my-0">Start a game</h5>
        <p class="card-text mb-2">Challenge another player</p>
        <div class="card-body py-0">
            <div class="form-group">
                <div class="form-group searchbox">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" id="userSearch" placeholder="Search..." name="userSearch">
                </div>

                <select [size]="selectSize" multiple="false" class="form-control my-1">
                        <option *ngFor="let user of userList"
                            [value]="user.username" [style.color]="user.isLoggedIn === 'true' ? 'green' : 'red'">
                            {{user.username}}-{{user.isLoggedIn}}</option>
                </select>

                <button class="btn btn-primary pull-right my-2">Invite</button>
                
            </div>
        </div>
    </div>
</div>