<div id="mygamesContainer">
    <div id="mygamesCard" class="card mt-3">
        <h5 class="card-text mb-0 mt-1">My Games</h5>
        <div style="overflow-x: auto" class="card-body pt-2">
            <table class="table table-striped">
                <!-- Table Header -->
                <thead>
                    <tr>
                        <th>Opponent</th>
                        <th>Status</th>
                        <th>Date started</th>
                    </tr>
                </thead>
                <!-- Table Body -->
                <tbody>
                    <tr *ngFor="let game of gamesList" class="small">
                        <td>{{game.opponent}}</td>
                        <td [style.color]="game.status.startsWith('m') ? '#33B8FF' : 'black'"
                            [style.font-weight]="game.status.startsWith('m') ? 'bold' : ''">{{game.status}}</td>
                        <td>{{game.date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>