<div class="container">
    <br>
    <div class="card ml-auto mr-auto w-50">
        <div class="card-header">
            <h5>Register Form</h5>
        </div>
        <div class="card-body">
            <form class="form" #registerForm="ngForm" (ngSubmit)="Register(registerForm.value)">

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" [(ngModel)]="emailField" name="email"
                        #email="ngModel" [email]="true" (ngModelChange)="EmailChange()" />
                    <div *ngIf="!emailValid && emailNotEmpty" class="alert alert-danger incorrect">
                            Email is not valid

                    </div>

                    <div [hidden]="emailNotEmpty || !email.touched" class="alert alert-danger incorrect">
                            Email is required
                    </div>
                </div>

                <div class="form-group">
                    <input minlength="5" type="text" class="form-control" placeholder="display name"
                        [(ngModel)]="displayNameField" name="displayName" required #displayName="ngModel" (ngModelChange)="DisplayNameChange()" />
                    <div [hidden]="displayNameValid || !displayName.touched" class="alert alert-danger incorrect">
                        Name should be atleast 5 characters long
                    </div>
                </div>

                <div class="form-group">
                    <input (blur)="passwordValidator()" minlength="6" type="password" class="form-control" placeholder="password"
                        [(ngModel)]="passwordField" name="password" required #password="ngModel" (ngModelChange)="PasswordChange()"/>
                    <div *ngIf="!passwordValid && passwordNotEmpty" class="alert alert-danger incorrect">
                        Invalid format
                    </div>
                    <div [hidden]="passwordNotEmpty || !password.touched" class="alert alert-danger incorrect">
                        Password is required
                    </div>
                    <em style="font-size: 13px;">*Password should contain atleast 1 uppercase and lowercase letters, 1
                        number and 1 special character. Total length should be atleast 6 characters</em>
                </div>

                <div class="form-group">
                    <input (blur)="match()" type="password" class="form-control" placeholder="retype password"
                        [(ngModel)]="rePasswordField" name="rePassword" required #rePassword="ngModel" (ngModelChange)="RePasswordChange()"/>
                    <div [hidden]="rePasswordValid || !rePassword.touched" class="alert alert-danger incorrect">
                        Both passwords need to match
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100"
                    [disabled]="!(emailValid && emailNotEmpty && displayNameValid && passwordValid && passwordNotEmpty && rePasswordValid)">Register</button>
                <em style="font-size: 13px;">*By clicking register you agree to the <a href="#">Terms and Conditions</a>
                    of the website</em>
            </form>
        </div>
    </div>
</div>